NEXT_PUBLIC_SUPABASE_URL=https://prxavbshyppnbirthksg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByeGF2YnNoeXBwbmJpcnRoa3NnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NTQ0NjAsImV4cCI6MjA5NDIzMDQ2MH0.AlEvyceeOxQ2RC5gL2dDTFr603RIBzgU83Dar8wxvBE
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_APP_URL=https://basic64school.com
